
body{
  background-color: black;
  color: magenta;
}

.center {
    margin: auto;
    border: 5px double pink;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
}

.todobtn{
  color:magenta;
  background-color: black;
}

.glow{
  box-shadow: 1px 1px 30px 1px magenta;
}

.margin-top {
  margin-top: 30px;
}

h1, li, ul{
  font-family: "Audiowide";
  color:magenta;
}

.t-glow{
  text-shadow: 1px 2px 3px white;
}

ul{
  list-style: none;
  font-size: 25px;
  padding:3px;
}
